@font-face {
    font-family: 'odin_roundedregular';
    src: url('../fonts/odin_roundedregular/odin_rounded_-_regular-webfont.woff2') format('woff2'),
         url('../fonts/odin_roundedregular/odin_rounded_-_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('../fonts/open_sanscondensed_light/opensans-condlight-webfont.woff2') format('woff2'),
         url('../fonts/open_sanscondensed_light/opensans-condlight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../fonts/open_sans_condensedbold/opensans-condbold-webfont.woff2') format('woff2'),
         url('../fonts/open_sans_condensedbold/opensans-condbold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'high_tideregular';
    src: url('../fonts/high_tideregular/hightide-webfont.woff2') format('woff2'),
         url('../fonts/high_tideregular/hightide-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Conv_DYMAXION';
    src: url('../fonts/DYMAXION/DYMAXION.eot');
    src: local('☺'), 
    url('../fonts/DYMAXION/DYMAXION.woff') format('woff'), 
    url('../fonts/DYMAXION/DYMAXION.ttf') format('truetype'), 
    url('../fonts/DYMAXION/DYMAXION.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
