@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Raleway');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
body{
	background-color: #dbdbdb;
	font-family: Helvetica;
}
.container{
	width: 960px;
	margin: 0 auto;
}

@media screen and(max-width: 992px){
		.container{
			width: 100%;
		}
	}
.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    background: rgba(0, 0, 0, .4);
}

.overlay--active {
    display: block;
}

.body-fixed {
    overflow: hidden;
    width: 100%;
}


/* navigation */
.header{
	background-color:#474747;
  	/*width: 100%;*/
  	flex: 1 0; 
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#474747;
}
.wrap-container{
	margin: 0 auto;
	padding: 0 60px; 
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.logo__box{
	background-color:#f26c4f;
	width: 80px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.logo__box:after{
	content: '';
	position: absolute;
	border: 10px solid transparent;
	border-left: 10px solid #f26c4f;
	top: 20px;
	right: -20px;
}
.logo__content{
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	vertical-align: middle;
	padding-left: 15px;
}
/* NAVIGATION*/

.nav{
	transition: transform .2s ease-in-out;
}

@media screen and (max-width: 651px) {
        .nav {
        will-change: transform;
        position: fixed;
        left: 0;
        top: 0;
        width: 230px;
        height: 100vh;
        background: #0d1119;
        transform: translateX(-100%);
        z-index: 1;
        }
    .nav__list{
	  flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: space-around;
      height: 100vh;
	}
	.nav__item:not(:last-child){
		margin: 0 0 10px 0;
	}
	.nav__item{
	margin: 0;
	}
	.nav--active{
		transform: translateX(0);
	}
}
  

.nav__list{
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.nav__item{
	margin: 0 30px;
}
.nav__item:last-child{
	margin-right: 0;
}


.nav__link {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    padding: 22px 0 22px 0;
	position: relative;
}

.nav__link:before,
.nav__link:after {
    content: '';
    height: 3px;
    width: 0;
    background: #f26c4f;
    position: absolute;
    bottom: 0;
    transition: width .2s cubic-bezier(0.4,-0.12, 0, 0.26);
}
.nav__link:before {
    right: 50%;
}
.nav__link:after {
    left: 50%;
}
.nav__link:hover:before,
.nav__link:hover:after {
    width: 50%;
}
.nav__link:hover{
	color:#f26c4f;
}

@media screen and (max-width: 651px){
	.nav__link{
	  padding-left: 30px;
      font-size: 18px;
	}
}
@media screen and (max-width: 651px){
	.nav__link:active:before {
         background: #fff;
      }
}


/*// button-menu*/

.menu-btn {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    display: flex;
	justify-content: center;
	align-items: center;
    display: none;
    font-size: 30px;
 	color: #fff;
}
@media screen and (max-width: 651px) {
        .menu-btn {
          	display: flex;
	    }
    }

.menu-btn:hover,
.menu-btn:active{
  color: #f26c4f;
}
/* -------------------------------------------- */

/* social */
@media screen and (max-width: 651px){
	.social{
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-left: 10px; 
	}
	.social__list{
		margin-top: 10px;
	}
}

.social{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px auto;
}


/* form */
.form{
	display: flex;
}

.form--search{
background:#fff url('../img/clock.png') 96% no-repeat;
text-indent: 8px;
border: none;
width: 300px;
height: 46px;
padding-left: 5px;
}
.form-wrap--location{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
 	height: 46px;
}

.form--location{
  width: 65%;
	height: 46px;
	border: none;
	padding-left: 5px;
	background: #fff url(../img/map__pin.png) 10% no-repeat;
	text-indent: 33%;
}
.form__btn--wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25%;
}

.form--btn{
	border: none;
	background-color:#8f8f8f;
	height: 23px;
	margin-bottom: 0;
}
.form--btn:hover,
.form--btn:focus{
	background-color: #f26c4f;
}

/* .//form */

/* social__list */

.social__list{
	list-style-type: none;
	display: flex;
	justify-content: center;
	text-align: center;
}

.social__item{
	padding: 0 24px;
}
.social__item:last-child{
	padding-right: 0;
}
.social__link {
	font-size: 12px;
	font-family: 'Raleway';
	text-decoration: none;
	color: #8f8f8f;
	font-weight: 700;
}
.social__link .fas{
	color: #8f8f8f;
}
/* /./social */

/*main banner  */

.section-banner{
	display: flex;
	text-align: center;
}
/* photoes properties */
.banner__list{
	width: 631px;
	position: relative;
	display: flex;
	overflow: hidden;
}
.banner__item{
	display: block;
	text-decoration: none;
}
.banner__item>img{
	position: absolute;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
}
.banner__item>img.showed{
	opacity: 1;
}

.banner--descr{
	text-align: left;
	color: #fff;
	margin: 0 0 -3px 0;
	width: 65%;
	position: absolute;
	right: 25%;
	bottom: -50px;
	transform: translateX(50%);
	transition: all .2s ease-in-out;
}
.banner__item:hover .banner--descr{
	bottom: 3px;
	background-color: rgba(0,0,0,0.5);
}
.banner--descr p{
	display: block;
	padding: 21px;
	font-size: 16px;
}

/* banner-content */

.banner__content{
	color:#a7a7a7;
	font-size: 12px;
	font-weight: 400;
	background-color: #373737;
	line-height: 1.2;
	padding: 47px;
	text-align: left;
	height: 391px;
	border-left: 9px solid #f26c4f;
	position: relative;
	flex: 2;
}

.banner__content:after{
		content: '';
		position: absolute;
		border: 10px solid transparent;
		border-left: 10px solid #f26c4f;
		top: 43px;
		left: 0;
}

.banner__content--title,
.banner__content--descr{
	padding-bottom: 24px;
}
.banner__content--data{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0;
}
.banner__content--data>a{
	color: #fff;
	line-height: 0.5;
	font-size: 11px;
}
/* banner buttons */

.btn__banner--wrap{
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
}
.btn__banner{
	background-color:#535353;
	width: 33px;
	height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	cursor: pointer;
}
.btn__banner:hover,
.btn__banner:focus{
	background-color: #f26c4f;
}
.btn__banner>i{
	color: #fff;
}
/* =======./banner================ */

/* SLIDER */

.slider{
	width: 1033px;
	margin: 16px auto; 
	padding: 0 30px;
	position: relative;
	overflow: hidden;
}

.slide-list {
	position: relative;
	margin: 0;
	padding: 0;
}
.slide-wrap {
	position: relative;
	left: 0px;
	top: 0;
	width: 10000000px;
	display: flex;
	list-style-type: none;
}

.slider__item {
	width: 325px;
	padding: 10px;
	position: relative;
	cursor: pointer;
}

.slider__item:before{
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	border: 45px solid transparent;
	border-top: 45px solid #373737;
	border-right: 45px solid #373737;
}

.slider__item:after{
	content: "";
	background: url(../img/+.png) center no-repeat;
	position: absolute;
	top: 25px;
	right:25px;
	width: 20px;
	height: 20px;	
}

.slider__item:hover::before{
	border-top: 45px solid #f26c4f;
	border-right: 45px solid #f26c4f;
}
.slider__img{
	width: 100%;
	display: block;
	margin: 0; 
}

.slider__img--descr{
	padding: 30px;
	padding-bottom: 56px;
	background-color: #fff;
	box-shadow: 0px 1px 0px 0px #d3d3d3;
}
.slider--title{
	color:#4f4f4f;
	font-size: 25px;
	font-weight: 700;
	padding-bottom: 25px;
}
.slider--descr{
	color:#646464;
	font-size: 12px;
	font-weight: 400;
}

/*========slider buttons==============*/
.navy {
	position: absolute;
	top: 0;
	z-index: 1;
	height: 100%;
	width: 30px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.prev-slide {
	left: 0;
	background: #dbdbdb;
	font-size: 22px; 
	color: #8f8f8f; 
}
.next-slide {
	right: 0;
	background: #dbdbdb;
	color: #8f8f8f;
	font-size: 22px;
}
.navy.disable {
	background: #dbdbdb;
}

.auto {
	width: 7px;
	height: 11px;
	cursor: pointer;
	margin: 10px auto;
}
.play {
	background: url(../img/play.png) center no-repeat;
}
.pause {
	background: url(../img/pause.png) center no-repeat;
}

/*  */

.column{
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}
/* =========accordion================== */
.accordion{
	margin-right: 20px;
	width: 631px;
}
.accordion__link{
	text-decoration: none;
}

.accordion__title--wrap{
	padding: 24px 41px;
}
.accordion__descr--wrap{
	padding: 0 41px 41px 41px;
	display: none;
}
.accordion__title{
	color: #474747;
	font-size: 24px;
	text-align: left;
}
.accordion__list{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.accordion__item{
	
	border-left: 4px solid #8f8f8f;
	font-size: 14px;
	background: #fff;
	width: 620px;
	margin-bottom: 16px;
	cursor: pointer;
}

.accordion__list--sub{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 40px;
	padding-top: 10px;
	list-style-type: none;
}
.accordion__item--sub{
	font-size: 10px;
	margin-right: 40px;
	color: #8f8f8f;
	font-style: italic;
	padding-right: 10px;
}
.accordion__item--sub:not(:last-child){
	border-right: 1px solid #8f8f8f;
}
.rating--wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rating__list{
	list-style-type: none;
	display: flex;
 }


.accordion__descr{
	padding: 10px 0 20px 0;
	color: #707070;
	font-weight: 700;
}

.active{
	border-left: 4px solid #ce4e32;
}

.active:hover *{
	color: #fff;
	cursor: pointer;
	background: #f26c4f;
}

.active:hover  .accordion__item--sub:not(:last-child){
	border-right: 1px solid #fff;
}

/* ==========.//ACCORDION========= */

/* READ MORE */
.column--left__read-more{
	padding: 20px 0 30px 0;
}
.read-more__link{
	text-decoration: none;
	display: block;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.read-more__title{
	color:#bdbdbd;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	padding-bottom: 10px;
}
.circle{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #bdbdbd;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	padding: 10px;
}

.circle>i{
	color: #fff;
	text-align: center;
	font-size: 14px;
}
/* ./READ MORE */

/* ========MAIN MENU=============== */
.main-menu{
	background-color: #fff;
	padding: 20px;
}

.main-menu__list{
	display: flex;
	align-items: center;
	list-style-type: none;
}
.main-menu__item{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 30px;
}
.main-menu__link{
	text-decoration: none;
	color:#bababa;
	font-size: 12px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-menu__link>span{
	padding-top: 5px;
	padding-right: 10px;
}
.main-menu__btn--wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
}
.main-menu--btn{
	border: none;
	background-color:#fff;
	height: 12px;
}
.main-menu--btn>i{
	font-size: 16px;
}

.red>a>span,
.red>div>button>i{
	color: #f26c4f;
}
/*========= .//MAIN MENU=============== */

/* dop-conent */

.article--first{
	padding: 10px;
	background-color: #fff;
	line-height: 1.5em;
}
.dop-panel{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.count__list{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.btn__count{
	border: none;
	background: transparent;
}

.btn__count>i{
	color: #f26c4f;
}

/* Dop content */
.article--first{
	margin-top: 25px;
	padding:35px 42px 37px 50px;
	position: relative;
}
.article--first__title{
	color: #707070;
	padding-bottom: 27px;
	font-size: 30px;
}
.article--first__descr{
	color: #707070;
	padding-bottom: 20px;
}
.btn__article{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #cacaca;
	width: 33px;
	height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	cursor: pointer;
}
.btn__article:hover{
	background-color: #f26c4f;
	color: #fff;
}
.dop-panel{
	padding: 10px;
	color: #707070;
	background-color:#efefef;
}


/* ..//Dop content */

/*============= slider2 ===================*/
.section-banner2{
	display: flex;
	flex-direction: column;
	text-align: left;
	position: relative;
}
/* photoes properties */
.banner__list-2{
	width: 631px;
	height: 305px;
	position: relative;
	display: flex;
	overflow: hidden;
}

/* buttons slider2 */
.btn__banner2--wrap{
	position: absolute;
	right: 0;
	top: 272px;
	display: flex;
	flex-direction: row;
}
.btn__banner2{
	background-color:#535353;
	width: 33px;
	height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	cursor: pointer;
}
.btn__banner2:hover{
	background: #f26c4f;
}

.btn__banner2>i{
	color: #fff;
}

.banner2__descr{
	background-color: #fff;
	padding:35px 42px 37px 50px;
}

/* ===========column right ==================*/
/* =============================================== */
.column--right{
	padding-bottom: 53px;
}

.img__container--right{
	background-color: #373737;
	position: relative;
	margin:0;
	padding: 0;
	cursor: pointer; 
}

.img__container--right:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border: 45px solid transparent;
	border-top: 45px solid #373737;
	border-right: 45px solid #373737;
}

.img__container--right:after{
	content: "";
	background: url(../img/+.png) center no-repeat;
	position: absolute;
	top: 15px;
	right:15px;
	width: 20px;
	height: 20px;	
}

.img__container--right:hover::before{
	border-top: 45px solid #f26c4f;
	border-right: 45px solid #f26c4f;
}



.main__img{
	width: 100%;
	height: 240px;
	display: block;
	margin:0;
	padding: 0; 
}

.main-figcaption{
	background-color: #373737;
	color: #fff;
	font-size: 12px;
	padding: 30px 30px 49px 30px;
}
.figcaption__title{
	font-size: 25px;
	padding-bottom: 27px;
}

	/* article right */
	.article--right{
		padding-top: 30px;
		padding-bottom: 23px;
		box-shadow: 0px 1px 0px 0px #d3d3d3;
	}
	.article--right__title{
		color:#474747;
		font-size: 19px;
		font-weight: 400;
		padding-bottom: 25px;
	}
	.article--right__descr{
		color:#a7a7a7;
		font-size: 12px;
		font-weight: 400;
	}
	.article--right__data{
		padding-top: 20px;
		display: flex;
		align-items: center;
	}
	.article--right__link{
		display: block;
		text-decoration: none;
	}
	.article--right__data>span{
		color: #8f8f8f;
		font-size: 12px;
		font-weight: 400;
		font-style: italic;
	}
	.article--right__link>i{
		color: #8f8f8f;
		font-size: 30px;
		padding-right: 13px;
}
	/* .//article right */

	/* nav__main */
 .nav__main{

 } 	
 .nav__main--link {
	text-decoration: none;
	display: block;
	border-left: 3px solid #cacaca;
	padding: 15px 25px;
	background-color: #fff;
}
.nav__main--link:first-child{
	margin-top: 31px;
}
.nav__main--link:not(:first-child){
	margin-top: 7px;
}

.nav__main--link:hover{
	background-color: #f26c4f;
	border-left: 3px solid #f26c4f;
}
.nav__main--link:hover span{
	color: #fff;
}
.btn__menu--title{
	font-size: 16px;
	font-weight: 700;
	color: #474747;
}
.btn__menu--descr{
	font-family: 'Arial';
	font-size: 12px;
	font-weight: 400;
	color: #a7a7a7;
}


/* dates */

.main-dates__list{
	list-style-type: none;
	margin-top: 49px;
}
.main-dates__item{
	display: flex;
	padding: 18px;
}
.main-dates--wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 60%;
}

.main-dates__descr{
color:#474747;
font-size: 48px;
font-weight: 400;
flex-basis: 45%;
display: block;
}
.main-dates__span{
color:#626262;
font-size: 14px;
font-weight: 300;
}

/*=======footer===========*/
.footer{
	background: #373737;
	width: 100%; 

}
.foot__inner{
	display: flex;
	justify-content: space-between;;
	align-items: center;
	background-color: #474747;
}

.foot__list{
	display: flex;
	list-style-type: none;
	padding: 56px 0 25px 0;
}
.foot__item:not(:last-child){
	margin-right: 20px;
}
.foot__link{
	font-size: 12px;
	color: #fff;
	text-decoration: none; 
}
.address{
	padding-bottom: 53px;
}
.foot__descr{
	font-size: 11px;
	color: #7e7e7e; 
}