.features{
  background-color: rgba(0,0,0,0.1);
}
.features-wrap{
  display: flex;
  flex-wrap: wrap;
  @media(max-width:981px){
    flex-direction: column;
  }

}
.features__list{
  list-style-type: none;
  margin-top: 78px;
}
.features__item{
  display: flex;
  padding-bottom: 80px;
}
.features__item span:first-child{
  margin-right: 27px;
}
.features__item i{
  font-size: 35px;
}
.features__img{
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  @media(min-width:980px){
    height: 50%;
  }
}
.img-container{
  position: relative;
  display: flex;
  padding: 0;
  // align-items: center;
}
.img-container::before,
.img-container::after{
  content: '';
  position: absolute;
  width: 50%;
  height: 487px;
  z-index: -1;
  @media(max-width:980px){
    height: 75%;
  }
}
.img-container::before{
  top: 0;
  background-color: #f34235;
}
.img-container::after{
  right: 0;
  top: 0;
  background-color: #5dbdfe;
}
