.footer{
  background-color: #323232;

}
.foot-title{
  color: #fff;
}
.foot-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
  .foot-social--descr{
    margin-top: 81px;
    text-align: center;
  }

  .foot-social__list {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-top: 66px;
}
  .foot-social__item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .foot-social__item:not(:last-child) {
      margin-right: 10px;
  }
  .foot-social__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
.foot-social__link i{
  color: #fff;
}
.copyright {
	font-size: 13px;
  text-align: center;
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
  margin-top: 71px;
}

#map {
  width: 100%;
  height: 441px;
  margin-top: 39px;
}

.btn{
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
	cursor: pointer;
}
.btn i{
  font-size: 53px;
}
.btn:hover{
  background-color: #f34235;
}
#btn--up{
	width:60px;
	height:60px;
	position:fixed;
	bottom:50px;
	right: 20px;
	background-color:#5dbdfe;
	border-radius:30px;

}

#btn--down{
	width:60px;
	height:60px;
	position:fixed;
	bottom:50px;
	right: 90px;
	background-color:#5dbdfe;
	border-radius:30px;

}
