.video-header{
  height: 100vh;
  display: flex;
  align-items:center;
  color: aliceblue;
}
.wrap{
  max-width: 960px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
  text-align: center;
}
.fullscreen-video-wrap{
  position: absolute;
  top: 0;
  left: 0;
  height: 120vh;
  width: 100%;
}
.fullscreen-video-wrap video{
  min-height: 100%;
  min-width: 100%;
}
.header-overlay{
  height: 120vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(34,33,33,0.65);
  opacity: 0.80;
  padding-bottom: 9rem;
}
.header-content{
  max-height: 100%;
  z-index: 111;
  margin-top: 148px;
  padding: 0 5rem;
}

.header-content h3{
  font-size: 34px;
}
.header-content h1{
  font-size: 112px;
  font-weight: 300;
}

@media(max-width:768px){
  .header-content h1{
    font-size: 72px;
  }
  .header-content h3{
    font-size: 24px;
  }
  .header-content{
    margin-top: 20%;
  }
}

@media(max-width:460px){
  .header-content h1{
    font-size: 42px;
    padding: 0;
    margin: 0 auto;
  }

}
