@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin size($width, $height: auto) {
    width: $width;
    height: $height;
}

@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &::-moz-placeholder          { @content; }
    &:-moz-placeholder           { @content; }
    &:-ms-input-placeholder      { @content; }
}

@mixin ul{
  list-style-type: none;
}

@mixin large {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin medium {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin small {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin extraSmall {
    @media screen and (max-width: 451px) {
        @content;
    }
}

@mixin responsive($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}
