h2, h3, p {
	margin: 0;
}
.main-footer {
	background: #1ea78d;
	padding: 100px 0 90px 0;
	@include responsive(1034px) {
		padding: 50px 0 30px 0;
	}
}
.footer {
	display: flex;
	flex-flow: row wrap;
}
.footer-wrap {
	width: 25%;
	padding-right: 30px;
	padding-bottom: 30px;
	&:last-child {
		padding-right: 0;
	}
	.logo {
		padding-bottom: 40px;
		@include responsive(651px) {
		text-align: center;
		}
	}
	@include responsive(1034px) {
		width: 50%;
	}
	@include responsive(651px) {
		width: 100%;
		padding-right: 0;
	}
}
.footer-subtitle {
	font-size: 13px;
	line-height: 24px;
	color: #fff;
	@include responsive(651px) {
		text-align: center;
	}
}
.footer-title {
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	text-transform: capitalize;
	padding-bottom: 46px;
	@include responsive(651px) {
		padding-bottom:30px;
		text-align: center;
	}
}
.footer-title--form {
	padding-bottom: 52px;

}
.footer-form {
	position: relative;
	padding-bottom: 20px;
	@include responsive(651px) {
		width: 80%;
		margin: 0 auto;
	}
}

.footer-form__input {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    height: 40px;
    text-indent: 10px;
    width: 100%;
    padding-right: 60px;
    color: #fff;
   	outline: none;
	font-size: 13px;

}

.footer-form__submit {
	background-color: transparent;
    border: 0 none;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    outline: none;
    right: 20px;
    top: 5px;
    color: #fff;
    opacity: 0.7;
    cursor: pointer;
    transition: color .3s ease;
    &:hover {
   		color: #000;
   	}
}

.footer-nav-list {
	padding: 0;
	margin: 0;
	list-style: none;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

.footer-nav__item {
	padding-bottom: 8px;
	@include responsive(651px) {
		justify-content: center;
		text-align: center;
	}
}
.footer-nav__link {
	font-size: 13px;
	line-height: 24px;
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
	transition: color .3s ease;
	&:hover {
		color: #062033;
	}
}
.footer-subtitle--copyright {
	padding: 70px 25px 50px 0;
	@include responsive(651px) {
		padding:0 0 30px 0 ;
		text-align: center;
	}
}
.copyright__icon {
	padding: 0 10px;
	position: relative;
	top: 3px;
}
.copyright__link {
	text-decoration: none;
	color: #062033;
	transition: color .3s ease;
	&:hover {
		color:#fff;
	}
}
.copyright {
	font-size: 13px;
	line-height: 24px;
	text-decoration: none;
	color: #062033;
	text-transform: capitalize;
	@include responsive(651px) {
		text-align: center;
	}
}
