@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.nav{
	display: flex;
	flex-direction: column;
}

.btn-wrap{
	display: flex;
	align-items: center;
}

.menu-btn{
  margin-left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background: #000;
  border: none;
  cursor: pointer;
  transition: all .25s ease;
  background: url('http://icons.iconarchive.com/icons/klukeart/summer/48/hamburger-icon.png') center no-repeat;
}

.menu-btn:hover,
.nav__item:hover{
	background-color: orange;
}

.nav__list{
  position: relative;
  left: -50%;
  width: 499px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: left 0.2s ease;
}

.nav__list.left {
  left: 0; 
}

.nav__item{
	padding: 16px;
	border: 1px solid #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;  
	background-color: green;
}

.nav__item:first-child{
	background-color: blue;
}


span{
	display: block;
}

.position{
	flex-basis: 50%;
	color: #fff;
	font-size: 18px;
}

.weight, 
.price{
	flex-basis: 25%;
	text-align: right;
	color: #fff;
	font-size: 18px;
}
