* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

html, body {
    min-height: 100vh;
    background-color: #fafafa;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
}

/*----------HEADER----------*/

.header{
	display: flex;
	justify-content: space-around;
	width: 100%;
	position: fixed;
	background-color: #fff;
	padding: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	top: 0;
	left:0;
	z-index: 999;
}
.logo{
	margin: 15px;
}
.logo-img{
	width: 140px;
	height: 26px;
}


/*-------------Nav---------------*/

.nav{
	padding:0; 
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.nav-item {
    display: inline-flex;
    margin: 0 30px;
    position: relative;
}


.nav-link {
    display: flex;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    padding: 26px 0 26px 0;
    position: relative;
}

.nav-link:before,
.nav-link:after{
	content: '';
	height: 3px;
	text-decoration: overline;
	position: absolute;
	background-color: #00ABEB;
	top: 0;
	width: 0;
	transition: width .2s linear;
}

.nav-link:before {
    right: 50%;
}
.nav-link:after {
    left: 50%;
}

.nav-link:hover:before,
.nav-link:hover:after {
    width: 100%; 
}

.active:before,
.active:after{
	width: 100%;
}

/*--------------SUBMENU------------------*/


.nav-list:after{
	content: '';
	display: block;
	
}

.nav-list--sub {
    display: none;
    position: absolute;
    width: 300px;
    top: 52px;
    left: -60px;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #fff;
    padding:3px;
    text-align: left; 
    z-index: 999;
}

.nav-link--sub,
.nav-link--sub2,
.nav-link--sub3 {
    display: block;
    padding: 10px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

.nav-item:hover > .nav-list--sub {
    display: block;
}


.nav-list--sub-2 {
    display: none;
    position: absolute;
    width: 300px;
    top: 23px;
    right: -300px;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #fff;
    padding:3px;
    text-align: left; 
    z-index: 999;
}

.nav-item--sub:hover > .nav-list--sub-2{
	display: block;
}

.nav-list--sub-3 {
    display: none;
    position: absolute;
    width: 300px;
    top: 62px;
    right: -300px;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #fff;
    padding:3px;
    text-align: left; 
    z-index: 999;
}

.nav-item--sub:hover > .nav-list--sub-3{
	display: block;
}


.nav-link--sub:hover,
.nav-link--sub2:hover,
.nav-link--sub3:hover{
	background: #eeeeee;
}

/*-------./HEDAER---------------*/

/*--------------MAINCONTENT!----------------*/

.maincontent {
	-webkit-transform: translateY(40px);
    transform: translateY(40px);
    margin-top: -8px; 
    flex: 1 0 auto;
}

.main__wrap{
	width: 1025px;
	margin: 0 auto;
	background-color: #fafafa;
}
	/*--------------maintop----------------*/


.maintop{
	background: url('../img/background.jpg') center no-repeat;
	width: 100%;
	height: 100vh;
}
.maintop__title{
	color: #fff;
	padding-top:200px;
	margin: 0; 
	text-align: center;
	font-weight: 200;
}

.maintop__title--top{
	font-size:70px; 
}

.maintop__title--down{
	font-size: 36px;
}

	/*--------------/.maintop----------------*/

	/*--------------MAIN_OBJECTS----------------*/
.objects{
	display: flex;
	justify-content: center;
	width: 1025px;
	margin: 0 auto;
	flex-wrap: nowrap;
	text-align: center;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	margin-top: -60px;
    position: relative;
    z-index: 9;
}

.object__art{
	padding: 25px;
	margin: 15px;
	border: 1px solid #e5e5e5;

}

.object-logo{
	display: flex;
	justify-content: center;
	border-radius: 50px;
	background-color: #00abeb;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.object-title{
	font-weight: 300;
	color: rgb(0,0,0,.9);
	margin: 15px;
}

.object-descr{
	font-weight: 300;
	color: rgb(0,0,0,.9);
	margin: 15px;
	height: 100px;
}

/*---------MAIN_LINK--------------*/

.main-link{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
	background-color: #00abeb;
	font-size: 12px;
	box-shadow: 0 2px 0 #008ebc;
	padding: 8px 18px;
	transition: background 0.1s ease-out 0.1s;
}

.main-link:hover{
	background:#008ebc; 	
}

.name{
	padding-right: 12px;
}

/*----------------ABOUT COMPANY-------------*/
.about{
	width: 1025px;
	margin: 0 auto;
	text-align: center;
}

.about__img--img{
	width: 1025px;
	height: 460px;
}

.about__art{
	margin-right: 10px;
}

.about-wrap{
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	width: 1025px;
	margin: 0 auto;
	text-align: left;
	padding: 25px;
	line-height: 1.5em;
}

.about-descr--left,
.about-descr--right {
	font-size: 15px;
}

.about-descr--right {
	font-weight: 100;
}

#main-link--about{
	margin-top: 30px;
}
	/*---------./ABOUT_COMPANY---------------*/

	/*----------SERVICES---------------*/

.service{
	width: 100%;
	margin-top: 50px;
	border: 1px solid #e5e5e5;
}

.service-wrap{
	width: 1025px;
	margin: 0 auto;
	text-align: center;
}
.service-list{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}
.service-item{
	width: 20%;
}

.service-object{
	display: flex;
	justify-content: center;
	border-radius: 50px;
	background-color: #4b4b4b;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.service-title,
.service-descr{
	text-align: center;
}
.service-title{
	margin: 50px; 
}
.service-descr{
	padding: 10px;
	padding-bottom: 50px;
	opacity: 0.6;
	font-weight: 100;
}

	/*----------./SERVICES---------------*/

/*---------CONTACT--------------------------*/

.contact{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 1025px;
	margin: 0 auto;
	margin-top: 50px;
	padding-top: 50px; 
}
.contact__art{
	width: 50%;
	font-size: 12px;
	margin-left: -48px;
	margin-right: -11px;
}

.contact-title{
	text-align: center;
	font-weight: 400;
	font-size: 18px;
}
.contact-list{
	list-style-type: none;
}

.contact-item{
	border: 1px solid #e5e5e5;
	margin: 10px;
	padding: 21px 21px; 
}

.contact-object--img{
	float: left;
}

	.clearfix:before,
	.clearfix:after {
	    content: '';
	    display: table;
	}

	.clearfix:after {
	    clear: both;
	}

.contact-link{
	text-decoration: none;
	color: rgba(0,0,0,0.7);	
	margin-left: 15px; 
}

.address{
	color: rgba(0,0,0,0.7);	
	margin-left: 40px; 
}
	/*--------------./CONTACTS----------------*/

	/*------------FORM-----------------------------*/

.form{
	width: 1025px;
	margin: 0 auto;
	border: 1px solid #e5e5e5;
	background-color: #fff;
}

.form__wrap--wrap{
	margin-left: 50px;

}
.form-title{
	color: rgba(0,0,0,0.7);
	font-weight: 400;
	margin-left: 39px; 
}

.fieldset{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-color: transparent;
	width: 960px;
	background-color: #fff;
}
.form__wrap{
	padding: 25px;	
	position: relative;
}

.form-link__icon{
	position: absolute;
	right: 26px;
	top: 30px;
	opacity: 0.7;
}

.form__input{
	padding: 5px 0; 
	width: 380px;
	border-color: transparent;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	font-weight: 100;
	background-color: #fff;
	position: relative;
}

	/*--------for input----------------*/
.form__input:focus{
	border-bottom: 2px solid #00abeb;
}

	/*----------for textarea----------------*/
#form__message:focus{
	border: 1px solid #00abeb;
}

/*------- placeholder -----------------*/

.form__input:focus::-webkit-input-placeholder{
	font-size: 12px;
	color: #00ABEB;
	background-color: #f7f7f7;
	opacity: 1;
	line-height: 0;
}

.form__input:focus::-moz-placeholder{
	font-size: 12px;
	color: #00ABEB;
	background-color: #f7f7f7;
	opacity: 1;
	line-height: 0;
}
.form__input:focus:-moz-placeholder
{
	font-size: 12px;
	color: #00ABEB;
	background-color: #f7f7f7;
	opacity: 1;
	line-height: 0;
}

.form__input:focus:-ms-input-placeholder 
{
	font-size: 12px;
	color: #00ABEB;
	background-color: #f7f7f7;
	opacity: 1;
	line-height: 0;
}


/*----------------------------*/
/*-----------SELECT_NENU------------------*/

.select-form{
	padding: 5px 0; 
	width: 380px;
	border-color: transparent;
	border-bottom: 1px solid rgba(0,0,0,.5);
	font-weight: 100;
	cursor: pointer;
	-webkit-appearance: none; 
    -moz-appearance: none;
    background-color: #fff;
    appearance: none;       /* удаляем стрелочку */
    background-image: url(../img/ic_arrow_drop_down.svg); 
    background-position: right center;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.select-form__option::-ms-expand{
	outline: none;
}

.select-form__option{
	padding:2px;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
}

.select-form:focus{
	background-color: #f7f7f7;
	opacity: 1;
}
.select-form__option:hover{
	background-color: #00abeb;
	color: #fff;
}
	/*---------------------------------------*/


#form__message{
	width: 100%;
	height: 200px;
	margin: auto 25px;
	padding: 15px 0 15px 15px;
	border: 1px solid rgba(0,0,0,0.2);
	font-weight: 100; 
	background-color: #f7f7f7;
	flex-grow: 2;
} 


.form__btn-wrap{
	display: flex;
	justify-content: flex-end;
	margin-right: 23px;
	margin-top: 30px;
	margin-bottom: 50px;	
}

.form__btn{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
	background-color: #00abeb;
	font-size: 12px;
	box-shadow: 0 2px 0 #008ebc;
	padding: 8px 18px;
	transition: background 0.1s ease-out 0.1s;
}

.form__btn:hover{
	cursor: pointer;
	background:#008ebc; 	
}


/*----------------./FORM---------------------------*/


/*----------------FOOTER----------------------------------*/
.footer {
	display: flex;
	justify-content: center;
    background-color: #4c4c4c;

}
.copyright{
	color: #fff;
	padding: 68px 0;
	font-weight: 100;
}
.foot-link{
	color: #00abeb;
	text-decoration: none;
}

/*----------------------./FOOTER--------------------------*/
