.facts{
    margin-top: 33px;
}
.facts__title{
    color:#4999af;
    font-size: 22px;
    text-align: center;
    @include medium {
        text-align: center;
      }
}
.facts__list{
    @include flexCenter;
    margin: 0;
    padding: 0;
    @include responsive(480px) {
        flex-flow: column nowrap;
    }
    // flex-wrap: wrap;
}
.left{
    margin-right: 39px;
    @include responsive(480px) {
      margin-right: 0;
    }   
}
.facts__item{
    width: 50%;
    padding: 6px 0;
    @include small {
        width: 100%;
    }
}

// right
.right{
    padding-left: 39px;
}
.facts__descr{
    color:#5f5f5f;
    font-size: 14px;
}
.facts__link{
    color:#f1715e;
    font-size: 17px;

    &::after{
        content: '>>';
        color:#f1715e;
    }
    &:hover{
        color: #668333;
    }
}
// left
.facts__list--left{
    padding: 0;
}

.facts__item--left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #E0DBD7;
    @include small {
        flex-flow: column nowrap;
    }
}
.wrap-date{
    @include flexCenter;
}
.col-wrap--left, .col-wrap--right{
    display: flex;
    flex-direction: column;
}
.col-wrap--left{
    margin-right: 20px;
}
.col-wrap--left span:first-child{
    color:#668333;
    font-size: 32px;
}
.col-wrap--left span:last-child{
    color:#668333;
    font-size: 14px;
}
.col-wrap--right span:first-child{
    color:#f1715e;
    font-size: 17px;
}
.col-wrap--right span:last-child{
    color:#5f5f5f;
    font-size: 13px;
    font-weight: 600;
}
.facts__btn{
    display: block;
    width: 90px;
    color: #fff;
    text-align: center;
    padding: 6px 0;
    border-radius: 5px;
    background: #4698AE;

    &:hover{
        background-color: #668333;
    }
}
