ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.foot{
    width: 100%;
    background-color: #515151;
}
.foot__title{
    color:#f3eeea;
    font-size: 20px;
    padding-bottom: 36px;
}

.foot__list, 
.social__list{
    display: flex;
    align-items: center;
    @include small{
        justify-content: center;
    }
}

.foot__list{
    padding-top: 32px;
    padding-bottom: 52px;
    @include responsive(651px) {
        flex-flow: column nowrap;
    }
}
.foot__item{
    width: 33%;
    @include small{
        padding: 0 7px;
    }
}
.foot__item span{
    color:#f3eeea;
    font-size: 20px;
    font-weight: 600;
}
.foot__descr{
    color:#b3b3b3;
    font-size: 12px;
    margin: 0;
}
.foot__btn{
    color:#f3eeea;
    font-size: 18px;
    background-color: #1b7f9b;
    width: 21vw;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @include small{
        width: 31vw;
    }
    &:hover{
        background-color: #668333;
    }
}

.social__item:not(:last-child){
    margin-right: 8px;
}
.copyright{
    font-family: 'myriad_pro';
    padding-bottom: 34px;
    @include responsive(651px) {
      display: block;
      width: 75%;
      margin: 0 auto;
    }
}