.menu-btn {
    padding: 0;
    background: #1b7f9b;
    border: none;
    outline: none;
    @include size(40px, 40px);
    @include flexCenter;
    display: none;
    &:hover{
        background: #668333;
    }

    @include responsive(651px) {
        display: flex;
        position: absolute;
        top: 14px;
        right: 22px;
    }
    
}

.nav {
    transition: transform .2s ease-in-out;
    margin-top: 20px;
    position: relative;
    @include responsive(651px) {
        will-change: transform;
        position: fixed;
        left: 0;
        top: 0;
        margin-top: 0;
        @include size(235px, 100vh);
        background: #fff;
        transform: translateX(-101%);
    }
}

.nav--active {
    @include responsive(651px) {
        transform: translateX(0);
    }
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 28px;
    padding-bottom: 25px;
    @include responsive(651px) {
        flex-flow: column nowrap;
    }
}

.nav__item {
    &:not(:last-child) {
        margin-right: 42px;

    @include responsive(651px) {
            margin-right: 0;
        }    
    }
    @include responsive(651px) {
        margin: 0 0 10px 0;
        text-align: center;
        padding-bottom: 42px;
    }
}

.nav__link {
    position: relative;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #668333;
    display: block;
    padding: 6px;
    transition: color .2s ease-in-out;

    &:hover {
        color: #1b7f9b;
    }

    @include responsive(651px) {
        padding-left: 30px;

        // &:active:before {
        //     background: #fff;
        // }
    }
}

.navbar-wrap{
    display: flex;
    align-items: center;
    margin-top: 0;
    @include responsive(651px){
        flex-flow: column nowrap;
    }
}
.navbar__list{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: #1b7f9b;
    padding: 0;
    @include responsive(651px){
        align-items: flex-start;
        width: 100%;
    }
}
.navbar__item{
    &:not(:last-child) {
        margin-right: 15px;

        @include responsive(651px) {
            margin: 0 22px 10px 0;
        }
    }
}
.navbar__link{
    color:#fff;
    font-size: 13px;
    padding: 10px 0;
    padding-left: 5px;
    text-decoration: none;
    display: block;

    &::after{
        content: ' |';
        color:#fff;
        font-size: 13px;
    }
    &:hover{
        color: #668333;
    }
}

.search-wrap{
    display: flex;
    align-items: center;
    background-color: #1b7f9b;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        right: -15px;
        top:0;
        width: 17px;
        height: 34px;
        background: #1b7f9b;
        @include responsive(651px) {
            display: none;
        }
    }
    &::before{
        content: '';
        position: absolute;
        bottom: -13px;
        right: -14px;
        border: 7px solid transparent;
        border-left: 7px solid #1b7f9b;
        border-top: 7px solid #1b7f9b;
        opacity: 0.8;
        @include responsive(651px) {
            display: none;
        }
    }
}
.search,
.btn-search{
    border: none;
    background: transparent;
}
.btn-search:hover{
    color: #668333;
}
.search{
    width: 65px;
    padding: 8px 0;
    @include responsive(651px){
        width: 80%;
        padding: 8px 6px;    
    }
}
