.discuss {
    padding-bottom: 105px;
}

.discuss__content {
    margin-top: 75px;
    display: flex;
    flex-flow: row nowrap;
}

.discuss__address {
    font-style: normal;
    width: 215px;
}

.discuss__address-title {
    color: #062033;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.discuss__address-list {
    padding: 0;
    list-style: none;
    margin: 50px 0 0 0;
}

.discuss__address-item {
    &:not(:first-child) {
        margin-top: 5px;
    }
}

.discuss__address-content {
    color: #6a737b;
    font-size: 13px;
    text-decoration: none;
}

.discuss__social {
    width: 50px;
    display: flex;
    justify-content: center;
}

.discuss__social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.discuss__social-item {
    &:not(:first-child) {
        margin-top: 20px;
    }
}

.discuss__social-link {
    font-size: 25px;
    color: rgba(6, 32, 51, 0.2);
    transition: color .1s ease-in-out;

    &:hover {
        color: rgba(6, 32, 51, 0.7);
    }
}

.discuss__form-wrap {
    flex: 1 0;
    margin: 0 25px;
}

.discuss__form-title {
    color: #062033;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
}

.textfield-wrap {
    margin-top: 50px;
}

.discuss__form {
    display: flex;
    flex-flow: row wrap;
}

.textfield-wrap {
    width: calc(50% - 30px);
    &:nth-child(2n+1) {
        margin-right: 30px;
    }
}

.textfield-wrap--message {
    width: 100%;
}

.discuss__btn-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    padding-right: 30px;
}

.discuss__submit {
    border: none;
    background: none;
    color: rgba(0, 0, 0, .3);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    padding: 0 0 0 35px;

    &:before {
        content: '\f0e0';
        font-size: 24px;
        color: #0eb493;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
    > span {
        font-family: 'Open Sans', sans-serif;
        transition: color .1s ease-in-out;
    }

    &:hover span {
        color: rgba(0, 0, 0, .7);
    }
}

.discuss__textfield {
    width: 100%;
    padding-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
    background: none;
    font-size: 16px;

    @include placeholder {
        color: rgba(91, 100, 110, 0.5);
        font-size: 13px;
        font-weight: 400;
    }
}

.discuss__textfield--message {
    resize: none;
    height: 50px;
}

#map {
    width: 100%;
    height: 215px;
}
