.top{
  min-height: 100vh;
  width: 100%;
  // background: url('../img/bk.png') center no-repeat;
  // background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
  @media screen and(max-width: 992px){
		max-width: 100%;
	}
}


.top::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
	height: 0;
	border-bottom: 10vh solid rgba(253, 99, 78, 0.3);
	border-left: 117vw solid transparent;
}

#top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


// top content

.top__title--wrap{
  font-family: 'montserratlight';
  text-align: right;
  color: #fff;
  margin-right: auto;
  margin-left: 35px;
  padding-bottom: 52px;
}

.top__title{
  position: relative;
  margin: 0;

  &:after{
    content: '/';
    position: absolute;
    color: $color-green;
  }
}

.top__descr{
  position: relative;
  font-size: 15px;
  font-weight: 700;

  &::after{
    content: '/';
    position: absolute;
    color: $color-red;
  }
}
